# POSTGRESQL
DATABASE_URL=postgresql://user:password@localhost:5432/kegiatin

# JWT
JWT_ACCESS_SECRET=kegiatin_access_secret_change_in_production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=kegiatin_refresh_secret_change_in_production
JWT_REFRESH_EXPIRATION=7d

# APP
PORT=3000
